/* Declaraciones de fuentes */
@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutiger/Frutiger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/frutiger/Frutiger_bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PixeloidSans';
    src: url('../fonts/pixeloid_sans/PixeloidSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixeloidSans';
    src: url('../fonts/pixeloid_sans/PixeloidSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.page {
    background-color: #FEFFF8;
    width: 85%;
    margin: 10% 7%;
}

header {
    position: relative;
    width: 100%;
    height: auto;
}

.header-background {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
}

.menu-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 3;
    padding: 0 15px 30px;
    box-sizing: border-box;
}

.menu-nav img {
    width: 20%;
    height: auto;
    cursor: pointer;
}

.logo {
    position: absolute;
    top: -60px;
    left: -25px;
    z-index: 2;
    width: 58%;
    height: auto;
}

.locas {
    position: absolute;
    top: -95px;
    right: -25px;
    z-index: 2;
    width: 35%;
    height: auto;
}

.info {
    position: absolute;
    top: -100px;
    right: 290px;
    z-index: 2;
    width: 15%;
    height: auto;
    cursor: pointer;
}

main {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

main h1 {
    text-align: center;
    margin: 0;
    font-family: 'PixeloidSans', sans-serif;
}

main h1 span {
    color: #BCD057;
}

.content-container {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.background-text-container {
    position: relative;
    z-index: 1;
    width: 46%;
    height: auto;
    padding: 20px 0;
    margin: 0 0 0 40%;
}

.background-text {
    width: 100%;
    height: auto;
    display: block;
}

.background-text-container p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 30px 70px 30px 30px;
    box-sizing: border-box;
    z-index: 2;
    color: #FEFFF8;
    font-size: 13px;
    line-height: 1.4;
    font-family: 'Frutiger', sans-serif;
}

.tv-1 {
    position: absolute;
    bottom: -60px;
    left: 20px;
    z-index: 3;
    width: 40%;
    height: auto;
}

.signals {
    position: absolute;
    bottom: 0;
    right: -25px;
    z-index: 1;
    width: 15%;
    height: auto;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

footer img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Cursor pointer para elementos interactivos del SVG */
.svg-button-part-1,
.svg-button-part-2,
.svg-button-part-3 {
    cursor: pointer;
}